<div class="container-fluid">
    <br />
    <br />
    <br />
    <div class="jumbotron" style="background-color:white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 25px 0 rgba(0, 0, 0, 0.25);min-height:680px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="sel1">Select list:</label>
                            <input type="text" class="form-control" placeholder="Search for...">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-1">
                        <div class="form-group">
                            <label for="sel1">Mask</label>
                            <input type="text" data-mask="00:00" class="form-control" data-mask-clearifnotmatch="true">
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="sel1">Select list:</label>
                            <input type="text" id="datepicker" class="form-control" placeholder="Search for...">
                        </div><!-- /input-group -->
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="sel1">Select list:</label>
                            <select class="form-control" id="sel1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div>
            </div>
        </div>
    </div>
</div>